{% extends 'admin/admin_base.html' %}
{% block content %}
    <div>
    <form class="bs-example bs-example-form" role="form">
        <div>
            <div style="float: left;width: 100px">
<a type="button" class="layui-btn" href="/admin/landmark/option">添加</a>

            </div><!-- /.col-lg-6 -->
            <div style="float: left;width: 400px">
                <div class="input-group">
                    <input type="text" class="form-control" name="keyword" value="{% if keyword %}{{ keyword }}{% endif %}">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="submit">搜索</button>
                    </span>
                </div><!-- /input-group -->
            </div><!-- /.col-lg-6 -->
        </div><!-- /.row -->
    </form>
</div>
        <div style="clear: both"></div>

    <table >
        <thead>
        <tr>
            <th>id</th>
            <th>图片</th>
            <th>标题</th>
            <th>内容</th>
            <th>创建人</th>
            <th>删除</th>
            <th>修改</th>
        </tr>
        </thead>
<tbody>
{% for re in result %}

    <tr >
        <td>{{ re.id }}</td>
        <td>
            <img src="{{ re.image }}" alt="" style="width: 100px;height: 80px">
{#            {{ re.image }}</td>#}
        <td>{{ re.title }}</td>
        <td>{{ re.content }}</td>
        <td>{{ re.create_user }}</td>
        <td><a href="/admin/landmark/del?id={{ re.id }}"><button>删除</button></a></td>
         <td><a href="/admin/landmark/option?id={{ re.id }}"><button>修改</button></a></td>
    </tr>
{%  endfor %}
</tbody>
</table>
    <ul class="pagination">
{% for foo in page_range %}
    {% if foo == page %}
        	<li class="active"><a href="?page={{ foo }}{% if keyword %}&keyword={{ keyword }}{% endif %}">{{ foo }}</a></li>

        {% else %}
	<li><a href="?page={{ foo }}{% if keyword %}&keyword={{ keyword }}{% endif %}">{{ foo }}</a></li>

    {% endif %}
{% endfor %}


</ul>


{% endblock %}