{% extends 'base.html' %}
{% block header %}
    {#            <link rel="stylesheet" type="text/css" href="/static/css/new1.css"/>#}

    <!--[if lt IE 9]>
    <script src="https://cdn.jsdelivr.cn/npm/html5shiv@3.7.3/dist/html5shiv.min.js"></script>
    <script src="https://cdn.jsdelivr.cn/npm/respond.js@1.4.2/dest/respond.min.js"></script>
    <![endif]-->
    <!-- 引入bootstrap文件 -->
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.css">

    <link rel="stylesheet" href="/static/css/navstyle.css">
    <link rel="stylesheet" href="/static/css/background.css">
    <script src="/static/bootstrap/jQuery/jquery-3.6.1.js"></script>
    <script type="text/javascript" src="/static/js/lxr_imgUpload.js"></script>

    <!-- 引入myjs文件 -->
    <!-- 引入bootstrapjavascript文件 -->
    <script src="/static/js/animate.js"></script>
    <script src="/static/js/lxr_myjavascript.js"></script>
    <script src="/static/bootstrap/jQuery/jquery-3.6.1.js"></script>
    <script src="/static/bootstrap/js/bootstrap.min.js"></script>

    <style>
        p.title {
            width: 100%;
            line-height: 38px;
            text-indent: 1em;
            background-color: #53A3B9;
            color: #FFF;
            font-size: 18px;
            margin-bottom: 20px;
        }

        .login {
            width: 100%;
            margin: 0 auto 20px;
        }

        .login input {
            width: 90%;
            height: 35px;
            box-sizing: border-box;
            border-radius: 5px;
            border: 1px solid #000;
            padding: 8px;
            margin-bottom: 15px;
        }

        .login button {
            text-align: center;
            width: 90%;
            height: 35px;
            box-sizing: border-box;
            border-radius: 5px;
            background-color: #53A3B9;
            font-size: 14px;
            color: #FFF;
            cursor: pointer;
            border: none;
        }

        .login button:hover {
            background-color: #4996A5;
        }

        .wz > img {
            display: block;
            margin: 10px auto;
        }

        .wz p > img {
            display: inline-block;
            margin: 10px;
        }

    </style>


{% endblock %}

{% block content %}
    <div class="page" style="margin-top: 100px">
        <div class="row">
            <div class="col-sm-2"></div>
            <div class="col-sm-2">
                <p class="title">关于我</p>
                <div class="jj">
                    <img src="{{ avter }}" alt="" style="width: 100px;height: 100px;border-radius: 50px">
                    <p><b>姓名：</b>{{ UserInfo.name }}</p>
                    <p><b>邮箱：</b>{{ UserInfo.email }}</p>
                    <p><b>兴趣：</b>{{ interests }}</p>
                </div>
                <p class="title">修改用户信息</p>
                <form action="/account/changeInfo" class="login" method="post">
                    <input type="text" placeholder="请输入用户名" name="name" value=""/>
                    <input type="email" placeholder="请输入邮箱" name="email" name=""/>
                    <button type="submit">修改</button>
                </form>
                <p class="title">修改密码</p>
                <form action="/account/changepassword" class="login" method="post">
                    <input type="password" placeholder="请输入密码" name="password" value=""/>
                    <input type="password" placeholder="请确认密码" name="password2" name=""/>
                    <button type="submit">修改</button>
                </form>
                <div class="login">
                    <button id="upload-btn">修改头像</button>



                <input type="file" id="upload-input" multiple accept="image/*" style="display:none">
                         </div>
                    <div class="login" style="margin-top: 20px">
                                                    <button  href="/account/logout">退出登陆</button>

    </div>

            </div>
            <div class="col-sm-6">
                <p class="title">我的日记</p>


                <div style="width: 100%;font-size: 20px;font-weight: bold">
                    <h3>当前城市：{{ weather.name }}</h3>
                    天气：{{ weather.text }} &nbsp;&nbsp;&nbsp;&nbsp;温度：{{ weather.temp }}
                    &nbsp;&nbsp;&nbsp;&nbsp;风向：{{ weather.windDir }}

                </div>
                <div class="wz" style="margin-top: 30px">

                <div>
    <form class="bs-example bs-example-form" role="form">
        <div class="row">

            <div class="col-lg-6">
                <div class="input-group">
                    <input type="text" class="form-control" name="keyword" value="{% if keyword %}{{ keyword }}{% endif %} ">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="submit">搜索</button>
                    </span>
                </div><!-- /input-group -->
            </div><!-- /.col-lg-6 -->
        </div><!-- /.row -->
    </form>
</div>
                    {% for foo in diarylist %}

                        <div class="row">
                            <div class="col-sm-9">
                                <p>{{ foo.content }}</p>
                                <p>{{ foo.create_time }}</p>
                            </div>
                            <div class="col-sm-3" style="text-align: center">
                                <a href="/account/daily/del?id={{ foo.id }}">删除</a>
                                <a href="/account/editperson/?id={{ foo.id }}">编辑</a>
                            </div>

                        </div>
                        <hr>

                    {% endfor %}

                </div>


                <div style="text-align: center;width: 100%">
                    <h1>发布日记</h1>
                </div>
                <form action="/account/daily/add" enctype="multipart/form-data" method="post">


                    <div class="form-group">
                        <div class="col-sm-12" style="margin-top: 10px">
                            <textarea name="content" class="form-control" style="width: 100%;"></textarea>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10" style="margin-top: 10px">
                            <button type="submit" class="btn btn-default">发布</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script>
        const fileInput = document.getElementById('upload-input')
        const uploadBtn = document.getElementById('upload-btn');

        uploadBtn.addEventListener('click', () => {
            fileInput.click();
        });

        fileInput.addEventListener('change', () => {
            console.log("+===")


            const file = fileInput.files[0];
            // 在此处添加上传文件的代码

            const formData = new FormData();
            formData.append('image', file);
            console.log(formData)

            fetch('/account/upload', {
                method: 'POST',
                body: formData
            })
                .then(response => {
                    window.location.reload()

                    // 在此处添加上传成功后的处理逻辑
                })
                .catch(error => {
                    // 在此处添加上传失败后的处理逻辑
                });
        });
    </script>

{% endblock %}

